.nav {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  background-color: var(--color-main-text);
  width: 100%;
}

.left-nav {
  cursor: pointer;
}

.nav h1 {
  color: white;
}

h1 {
  color: var(--color-main-text);
  text-align: center;
}

button {
  outline: none;
  border: 2px solid var(--color-border);
  border-radius: 20px;
  padding: 0.5rem 3rem;
  cursor: pointer;
}

.nav button {
  outline: none;
  border: 2px solid var(--color-border);
  border-radius: 20px;
  padding: 0.5rem 3rem;
  cursor: pointer;
  background-color: var(--color-light-background);
}

.nav button:hover {
  background-color: var(--color-hover);
}

@media (max-width: 1024px) {
  .nav {
    padding-inline: 10px;
  }

  .nav h1 {
    font-size: 16px;
  }

  .nav button {
    outline: none;
    border: 2px solid var(--color-border);
    border-radius: 20px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    background-color: var(--color-light-background);
    font-size: 12px;
  }
}
