<div class="container">
  <div class="wrapper">
    <div class="content">
      @if(step === 1) {
      <h1>Informations sur votre profil</h1>
      <form action="" class="profile-form">
        <label for="description-perso">
          <p>Description Personnelle</p>
          <textarea
            [(ngModel)]="personnal_description"
            name="personnal_description"
            id="description-perso"
            placeholder="Quelques mots sur vous"
          ></textarea>
        </label>
        <label for="secteur">
          <p>Secteur</p>
          <input
            [(ngModel)]="secteur"
            id="secteur"
            type="text"
            name="secteur"
            placeholder="Informatique, Banque"
          />
        </label>
        <label for="poste">
          <p>Poste</p>
          <input
            [(ngModel)]="poste"
            id="poste"
            name="poste"
            type="text"
            placeholder="Comptable, Rh, Ingénieur Java"
          />
        </label>
        <label for="objectif-entretien">
          <p>Objectif de l'entretien</p>
          <textarea
            [(ngModel)]="objectif_entretien"
            name="objectif_entretien"
            id="objectif-entretien"
            placeholder="Devenir plus confiant, être plus convaincant sur mes softs skills"
          ></textarea>
        </label>
        <label for="offre-emploi">
          <p>Offre d'emploi complète</p>
          <textarea
            [(ngModel)]="offre_emploi"
            name="offre_emploi"
            id="offre-emploi"
            placeholder="Une offre d'emploi Linkedin par exemple"
          ></textarea>
        </label>
        <div class="flex-end">
          <button type="button" (click)="submitForm()">Étape suivante</button>
        </div>
      </form>
      } @if (step === 2) {
      <div class="question-to-prepare">
        <h1>Questions à préparer avant la simulation</h1>
        <div class="question-card-wrapper">
          <div class="question-card-list">
            @for (question of technicalQuestions; track $index) {
            <div class="question-card">
              <p>{{ question }}</p>
            </div>
            }
          </div>
        </div>
        <div class="buttons-step">
          <div class="flex-center">
            <button (click)="setSteps(step - 1)">Étape précédente</button>
          </div>
          <div class="flex-center">
            <button (click)="setSteps(step + 1)">Étape suivante</button>
          </div>
        </div>
      </div>
      } @if (step === 3) {
      <h1>Simulation d'entretien</h1>
      <div class="simulation-wrapper">
        <h2>{{ simulationQuestions[currentQuestionNumber] }}</h2>

        <label for="reponse" class="simulation-answer">
          <p>Votre réponse à la question</p>
          <textarea
            [(ngModel)]="currentAnswer"
            name="reponse"
            id="reponse"
          ></textarea>
        </label>
        @if (isListening) {
        <p>Écoute en cours... 🔴</p>

        } @else {
        <p></p>
        }
        <div class="flex-end">
          <div class="simulation-btn-wrapper">
            @if (isListening) {
            <button (click)="stopListening()">Arrêter l'écoute🛑</button>
            }
            <button (click)="startListening()">🎤 Parler</button>
            @if (currentQuestionNumber + 1 < simulationQuestions.length) {
            <button (click)="nextQuestion()">Question suivante</button>
            } @else {
            <button (click)="onFinishSimulation()">
              Terminer la simulation
            </button>
            }
          </div>
        </div>
      </div>
      } @if (step === 4) {
      <div class="feedback-panel">
        <h1>Feedback de l'entretien</h1>
        <h2>Résumé de l'entretien</h2>
        <div class="question-answer-list">
          @for (questionAnswer of interviewRecord.question_answers; track
          $index) {
          <div class="question-answer">
            <h3>Question {{ $index + 1 }} : {{ questionAnswer.question }}</h3>
            <p>{{ questionAnswer.answer }}</p>
            <div class="feedback-card">
              <p-accordion [value]="['0']" [multiple]="true" [activeIndex]="[]">
                <p-accordion-panel value="0">
                  <p-accordion-header>Points Forts</p-accordion-header>
                  <p-accordion-content>
                    <p class="m-0">
                      {{ questionAnswer.detailedFeedback?.pro }}
                    </p>
                  </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="1">
                  <p-accordion-header>Points Faibles</p-accordion-header>
                  <p-accordion-content>
                    <p class="m-0">
                      {{ questionAnswer.detailedFeedback?.cons }}
                    </p>
                  </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="2">
                  <p-accordion-header>Pertinence</p-accordion-header>
                  <p-accordion-content>
                    <p class="m-0">
                      {{ questionAnswer.detailedFeedback?.relevance }}
                    </p>
                  </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="2">
                  <p-accordion-header>Reformulations</p-accordion-header>
                  <p-accordion-content>
                    <p class="m-0">
                      {{ questionAnswer.detailedFeedback?.rephrasing }}
                    </p>
                  </p-accordion-content>
                </p-accordion-panel>
              </p-accordion>
            </div>
          </div>
          }
        </div>
        <div class="flex-center">
          <button (click)="downloadPDF()">Télécharger en PDF</button>
        </div>
      </div>
      }
    </div>
    @if (isLoading) {
    <div class="dot-spinner">
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
    </div>
    }
  </div>
</div>
