<div class="flex-center">
  <div class="hero-banner-wrapper">
    <div class="content">
      <div class="hero-banner">
        <img src="hero-banner.jpg" alt="" />
        <h1>
          Préparez-vous à briller en entretien avec notre assistant intelligent
        </h1>
        <p>
          Simulez vos entretiens, recevez des feedbacks personnalisés et
          maîtrisez vos réponses avec notre IA dédiée
        </p>
        <button (click)="navigateTo('main')">Essayer gratuitement</button>
      </div>
    </div>
  </div>
  <div class="step-wrapper">
    <div class="step-content">
      <h1>
        Découvrez un processus en 4 étapes pour réussir vos entretiens
        d'embauche
      </h1>
      <div class="step-card-list">
        <div class="step-card">
          <div class="step-number-wrapper">
            <div class="step-number">1</div>
          </div>
          <h2>Renseignez votre profil</h2>
          <p>
            Faites connaître vos objectifs, vos compétences et le poste visé.
            Collez l'offre d'emploi, décrivez vos atouts et laissez notre IA
            comprendre votre parcours pour une préparation parfaitement adaptée.
          </p>
        </div>
        <div class="step-card">
          <div class="step-number-wrapper">
            <div class="step-number">2</div>
          </div>
          <h2>Préparez vos réponses avec des questions personnalisées</h2>
          <p>
            Recevez une liste de questions spécifiques à votre secteur et poste
            cible. Notre IA génère des questions techniques et comportementales
            pour vous aider à structurer vos réponses et mettre en valeur vos
            compétences.
          </p>
        </div>
        <div class="step-card">
          <div class="step-number-wrapper">
            <div class="step-number">3</div>
          </div>
          <h2>Passez une simulation d'entretien réaliste</h2>
          <p>
            Entraînez-vous dans un environnement interactif et engageant.
            Répondez à des questions en temps réel, à l'écrit ou à l'oral, et
            vivez une simulation qui s'adapte à vos réponses pour vous immerger
            dans une expérience réaliste.
          </p>
        </div>
        <div class="step-card">
          <div class="step-number-wrapper">
            <div class="step-number">4</div>
          </div>
          <h2>Analysez vos performances et améliorez-vous</h2>
          <p>
            Recevez des feedbacks détaillés et des suggestions de reformulation
            personnalisées. Identifiez vos points forts et vos axes
            d'amélioration, et affinez vos réponses pour maximiser vos chances
            de succès lors de vos entretiens réels.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
